doctype html
html
    head
        title Login to Google
    body
        include ./header.pug
        if(user)
            h1 Hi, #{user}
        else
            a(href="/login") Sign Up
        include ./footer.pug